:root{
    --color-principal: #201E1F;
    --color-secundario: #BF9034;
    --color-terceario: #F7E99E;
    --white: #FEFEFE;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}